.flat-table {
    display: block;
    -webkit-font-smoothing: antialiased;
    font-size: 100%;
    overflow: auto;
    
    margin:0 auto;
    box-shadow: 2px 2px 5px #2a2f43;
    }
#tableprojet{
    width: 100%;
    height:600px;
   }   

   #tableformulaire{
       width:95%;
        height:520px;
   }
  th {
    background-color: #2a2f43;
    color: white;
    font-weight: normal;
    padding: 20px 30px;
    text-align: center;
      
  }
  td {
    background-color: #EEEEEE;
    color: #6F6F6F;
    padding: 20px 30px;
    text-align: center;

  }
